/* General Styles */
.T0 {
    font-family: "Times New Roman", Times, serif;
    font-size: 11pt;
    color: blue;
}

.T1 {
    font-family: Georgia, serif;
    font-size: 12pt;
}

.T2 {
    font-family: Georgia, serif;
    font-size: 11pt;
    font-style: italic;
    color: gray;
}

.T3,
#bibleReference {
    font-family: Georgia, serif;
    font-size: 8pt;
    font-style: italic;
    color: gray;
}

.T4 {
    font-family: "Albertus Extra Bold", Times, serif;
    font-size: 14pt;
}

.T5 {
    font-family: Georgia, serif;
    font-size: 7pt;
    color: blue;
}

.T6 {
    font-family: Georgia, serif;
    font-size: 10pt;
    color: gray;
    font-style: italic;
}

p3 {
    line-height: 20px;
}

hr {
    margin-top: 1px;
    margin-bottom: 0px;
}

/* Image Styles */
.img1 {
    width: 142px;
    float: left;
}

.img2 {
    width: 206px;
    float: left;
}

/* Responsive Styles */
@media only screen and (min-width: 100px) and (max-width: 360px) {
    body {
        margin: 0;
        padding: 0;
    }

    .main {
        width: 100%;
    }

    #innerTable {
        width: 100%;
    }

    .img1 {
        width: 40%;
    }

    .img2 {
        width: 60%;
    }
}

/* Text Container */
.text-container {
    height: 430px;
    overflow: auto;
    padding: 20px 10px 10px 10px;
    width: 93%;
}

/* Page Specific Styles */
.whyPage {
    background: blue;
    color: white;
    font-weight: bold;
    font-size: 13px;
}

.keysPage {
    background: #F1C22C;
    font-weight: bold;
    font-size: 13px;
}


.banner {
        background-color: #000000;
        overflow: hidden; /* Ensures the div contains the floated images */
}

/* Table Styles */
#chapterSelectTable {
    margin-left: auto;
    margin-right: auto;
    border: 3px solid black;
    border-collapse: collapse;
    width: 95%;
    text-align: center;
    font-family: Georgia, serif;
    font-size: 14pt;
    background-color: white;
    table-layout: fixed;
}

#chapterSelectTable tr,
#chapterSelectTable td {
    border: 3px solid black;
}

#chapterSelectTable td {
    transition: background-color 0.3s ease;
}

#chapterSelectTable td:hover {
    background-color: grey;
}

#chapterSelectTable a {
    text-decoration: none;
    color: black;
}

#chapterSelectTable td a {
    display: block;
    width: 100%;
    padding-bottom: 3px;
}

/* Additional Styles */
#italicText {
    font-family: Georgia, serif;
    font-size: 11pt;
    font-style: italic;
    color: gray;
}

#wordsOfJesus {
    color: rgb(160, 0, 0);
}

#plusSign {
    font-family: Georgia;
    font-size: 7pt;
    color: blue;
}